<!DOCTYPE html>
<html ng-app="myApp">
    <head>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.2/angular.min.js"></script>
           <script src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js'></script>
        <script src="js/weather.js"></script>
          


    <title>Weather</title>

    </head>
    
    <body ng-controller="WeatherController">


<form ng-submit="register()">
<p>Username: <input ng-model="person.username"></p>
<p>Password: <input ng-model="person.password"></p>
<p><button>Register</button></p>
</form>

<form ng-submit="login()">
<p>Username: <input ng-model="person2.username"></p>
<p>Password: <input ng-model="person2.password"></p>
<p><button>Login</button></p>
</form>

<table>
    
    <tr>
        <td>Weather</td>
        <td>Date</td>
        <td>Maximum Temparature</td>
        <td>Minimum Temparature</td>
        <td>Day Temparature</td>
        <td>Night Temparature</td>
        <td>Description</td>
    </tr>
  <tr ng-repeat="weatherlist in weathers">
     
    <td><img src={{weatherlist.weather_icon}} alt=""></td>
    <td style= 'text-align: center'>{{weatherlist.weather_date}}</td>
    <td style= 'text-align: center'>{{weatherlist.temp_max}}</td>
    <td style= 'text-align: center'>{{weatherlist.temp_min}}</td>
    <td style= 'text-align: center'>{{weatherlist.temp_day}}</td>
    <td style= 'text-align: center'>{{weatherlist.temp_night}}</td>
    <td style= 'text-align: center'>{{weatherlist.weather_info}}</td>

</tr>

</table>





    </body>
    
    


</html>